body
{
    margin: 0;
    padding: 0;
    background-color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'bed scipt', cursive;
}


/* Header */
.pumkin {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.pumkin{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation:animate 2s linear infinite;
}
.pumkin{
    animation-delay: 1s;
}

@keyframes animate{
    0%{
        color:#ff8400;
        filter: blur(2px);
        im: 0 0 10px #ff8400,
        0 0 20px#ff8400,
        0 0 40px#ff8400,
        0 0 80px#ff8400,
        0 0 1200px#ff8400,
        0 0 200px#ff8400,
        0 0 300px#ff8400,
        0 0 400px#ff8400;
        
    }
    5%,95%{
        color: #ff8400;
        filter: blur(0px);
        text-shadow: none;
    }
    
}
